src
node_modules
.env
.env.production
.gitignore
.npmignore
index.html
package.json
package-lock.json
tsconfig.config.json
tsconfig.json
vite.config.ts

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
